<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} &bullet; OpenGraph Image Generator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {{ importmap('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="container d-flex">
                    <div>
                        <a class="navbar-brand" href="{{ path('app_home') }}">OpenGraph Image Generator</a>
                    </div>

                    <ul class="nav">
                        <li class="nav-item">
                            <a href="https://github.com/Kocal/open-graph-image-generator" class="nav-link link-light">GitHub</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://twitter.com/HugoAlliaume" class="nav-link link-light">X (Twitter)</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main >
                {% block main %}{% endblock %}
            </main>
        {% endblock %}
    </body>
</html>
